h1 {
  font-family: monospace;
  font-size: 32px;
  text-align: center;
  padding: 16px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.card {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 2px 8px rgba(135, 207, 235, 0.5);
}

.image-wrapper {
  width: 75px;
  aspect-ratio: 1;
  line-height: 0;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.text-wrapper {
  padding-right: 32px;
}

.character-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.125em;
  text-transform: capitalize;
}

.character-type {
  font-size: 14px;
  text-transform: capitalize;
}

@media (max-width: 425px) {
  .card {
    width: 100%;
  }
}